#comment

# Abstraction of Providers, which ones have enabled templates to provide the architecture.
[Providers]
ConfiguredProviders = AWS,Azure,Google,Local
AWS = True
Azure = False
Google = False
Local = True

# Per provider configuration
[AWS_Configuration]

[Azure_Configuration]

[Google_Configuration]

[Local_Configuration]

[Applications]
Serverless = ContentServer,StateBasedWorkflow
Server = BasicLamp
Container = Python38DockerContainer

[Application:ContentServer]
[Application:StateBasedWorkflow]
[Application:BasicLamp]
[Application:Python38DockerContainer]

[Security]

